TABLE{
    width: 94%;
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid white; /* Прячем рамку вокруг таблицы */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #99999945; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
   }