.scanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
video#qr-video {
    border-radius: 3%;
}
body {
    background-color: rgb(57, 49, 170);
    font-family: 'Roboto', sans-serif;
}
.h1_text__white {
    color: white;
<<<<<<< HEAD
    font-family: unset;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
=======
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0;
>>>>>>> 8b2fadf37c6f002d980b3d0744c5e0aa186c743a
}
#demo {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
    padding: 1%;
<<<<<<< HEAD
    box-shadow: 5px 27px 100px -23px rgba(0, 0, 0, 0.58);

}
.logo {

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

body {
	background: linear-gradient(-45deg, #7eee52, #6f3ce7, #23a6d5, #ff0000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
=======

}
>>>>>>> 8b2fadf37c6f002d980b3d0744c5e0aa186c743a
