.logo{
    font-family: 'Urbanist', sans-serif;
}
.bg-green {
--bs-bg-opacity: 1;
background-color: #6c9000cf;
backdrop-filter: blur(23px);
}
.navbar-dark .navbar-brand {
    margin: auto;
    color: #fff;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}

.left {
    margin-top: 15%;
    color: #4e5c23;
}
.accent {
    background-color: #88a530;
    color: white;
    padding: 1%;
    border: 1px solid white;
    border-radius: 12px;
}
.emoji{
    font-family: 'SF Pro Display';
}
.home {
    margin-top: 10%;
    color: #4e5c23;
}
.prices{
    margin-top: 10%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Urbanist:ital,wght@1,700&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

nav {
    /* height: 120px; */
    width: 100%;
}
.text-center{
    text-align: center;
}
.center{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.second_podium {
    padding: 0.99%;
    background-color: #67293C;
    position: relative;
    display: flex;
    justify-content: space-around;
    color:white;
    overflow-x: scroll;
    font-family: 'Oswald', sans-serif;

}
.first_podium.center {
    background-color: #A14661;
    padding: 1%;
}
.logo{
    font-family: 'Urbanist', sans-serif;
}
.links {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
a.nav-a:hover {
    background-color: white;
    color: #67293C;
    text-decoration: none;
}

a.active_h {
    background-color: white;
    color: #67293C;
    text-decoration: none;
}
.preheader {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
a.nav-a {
    color: white;
    margin-left: 1%;
    text-decoration: none;
}
.container {
    background: white;
    display: flex;
    height: 511px;
    margin: 2%;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}
.right {
    width: 25%;
    margin: 4%;
    padding: 2%;
    border-radius: 12px;
    background-color: white;
    box-shadow: 7px 2px 20px 0px #0000001c;
}
.left {
    width: 55%;
    border-radius: 12px;
    background-color: white;
    margin: 4%;
    padding: 2%;
    box-shadow: 7px 2px 20px 0px #0000001c;
}
.details {
    /* font-size: 12px; */
    display: flex;
    justify-content: space-between;
}
.tablo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin-bottom: 1%;
    font-size: 90%;
    background-color: #f1f1f17d;
    padding: 1%;
}
@media screen and (max-width: 600px) {
    .text-left {
        display: none;
        visibility: hidden;

    }
    .right{
        display: none;
        visibility: hidden;
    }
    .left{
        padding: 4%;
    }
}

a.hidden_dn {
    color: black;
    background-color: black;
    padding: 2%;
}

a.hidden_dn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 2%;
}
.another_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}