# Enable rewrite engine and route requests to framework
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
# RewriteBase /




# В шараге роутинг нормально не работает
RewriteRule ^(tmp)\/|\.ini$ - [R=404]

#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* system/routing.php [L,QSA]
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

# Создать редирект с сайта на выход
RewriteRule ^exit$ /exit.php [L,QSA]
RewriteRule ^reg$ /reg.php [L,QSA]
RewriteRule ^pass/make$ /new.php [L,QSA]
RewriteRule ^pass/view$ /pass_info.php [L,QSA]
RewriteRule ^pass/active$ /system/function/active.php [L,QSA]
RewriteRule ^pass/deactive$ /system/function/active.php [L,QSA]
RewriteRule ^pass/edit$ /edit.php [L,QSA]
RewriteRule ^pass/noty$ /noty.php [L,QSA]
RewriteRule ^pass/resend$ /system/function/resend.php [L,QSA]
RewriteRule ^settings$ /settings.php [L,QSA]
RewriteRule ^notify$ /pages/notify.php [L,QSA]
RewriteRule ^search$ /search.php [L,QSA]
RewriteRule ^api/search$ /system/search.php [L,QSA]
RewriteRule ^auth/2fa$ /system/2fa_auth.php [L,QSA]

# Создать редирект для страницы редактирования пропусков
RewriteRule ^pass\/edit edit.php [L,QSA]
# Создать редирект для страницы деактивации пропуска
RewriteRule ^pass\/deactivate /system/function/unvalid.php [L,QSA]
# Создать редирект для страницы активации пропуска
RewriteRule ^pass\/activate /system/function/valid.php [L,QSA]
# Создать редирект для API
RewriteRule ^api/get.pass$ /api/get_pass.php [L,QSA]
RewriteRule ^api/all.pass$ /api/all_pass.php [L,QSA]