@import 'root';

// ---------------СПИСОК ПРОДУКТОВ
.card-list {

    &__title {
        margin-bottom: 50px;
    }

    &__wrapper {
        padding: 30px 20px;
        max-width: 980px;
        min-height: 708px;
        margin: 0 auto;
        position: relative;
    }

    &__link {
        transition: all .3s ease;
        display: inline-block;
        margin-left: 5px;

        &:hover {
            color: $color-white;
            background-color: $color-blue;
            padding: 2px 5px;
            margin-left: 0;
            border-radius: 10px;

        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        position: relative;
        z-index: 5;

        & .card-list__id {
            width: 32px;
        }

        & .card-list__fio {
            width: 336px;
        }

        th,
        td {
            color: $color-blue;
            text-align: left;
            font-size: 15px;
            line-height: calc(18/15*100%);
            border: 1px solid $color-blue;
        }

        th {
            padding: 0 6px 9px;
            font-weight: 500;
            border-top: unset;
        }

        tbody td {
            height: 37px;
            padding: 0 6px;
        }

        th:first-child,
        td:first-child {
            padding-left: 0;
            border-left: unset;
        }

        th:last-child,
        td:last-child {
            padding-right: 0;
            border-right: unset;
        }

        tbody tr:last-child td {
            border-bottom: unset;
        }

    }
}