@import 'root';
.card-info {

  &__container.container {
    max-width: 750px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
  }

  &__img.img {
    width: 220px;
    height: 300px;
    margin-bottom: 32px;
    border: 5px solid $color-blue;
    background-color: #d9d9d9;
    overflow: hidden;
  }

  &__wrapper {
    padding: 30px;
    max-width: 710px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_left {
      align-items: center;
    }

    &_right {
      gap: 30px;
    }
  }

  &__info {
    .card-info__title{
      color: $color-blue;
      font-size: 24px;
      line-height: calc(28/24*100%);
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 22px;
    line-height: calc(26/22*100%);
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }

  &__bold-text {
    color: #10B721;
  }

  &__qr {
    text-align: center;
    a{
      margin-top: 32px;
      font-size: 14px;
    }
    span{
      width: 174px;
      height: 174px;
      margin: 0 auto;
    }
  }

  &__buttons {
    width: 100%;
  }

  &__button {
    text-align: center;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
}
