@import 'root';

// ---------------СПИСОК ПРОПУСКОВ
.card-list {

  &__title {
    margin-bottom: 50px;
  }

  &__wrapper {
    padding: 30px 20px;
    max-width: 980px;
    min-height: 550px;
    margin: 0 auto;
    position: relative;
  }

  &__nav {
    margin-bottom: 20px;
  }

  &__pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
  }

  &__link {
    transition: all .3s ease;
    display: inline-block;
    margin-left: 5px;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
      padding: 2px 5px;
      margin-left: 0;
      border-radius: 10px;

    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    position: relative;
    z-index: 5;

    & .card-list {

      &__id {
        min-width: 32px;
      }

      &__fio {
        min-width: 336px;
      }

      &__date {
        min-width: 152px;
      }

      &__link-head {
        min-width: 80px;
      }
    }

    th,
    td {
      color: $color-blue;
      text-align: left;
      font-size: 15px;
      line-height: calc(18/15*100%);
      border: 1px solid $color-blue;
    }

    th {
      padding: 0 6px 9px;
      font-weight: 500;
      border-top: unset;
    }

    tbody td {
      height: 37px;
      padding: 0 6px;
    }

    th:first-child,
    td:first-child {
      padding-left: 0;
      border-left: unset;
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
      border-right: unset;
    }

    tbody tr:last-child td {
      border-bottom: unset;
    }

  }
}
@include max-w-768{
  .card-list{
    &__table {
      & .card-list {
        &__fio {
          min-width: 260px;
        }
      }
    }
  }
}
@include max-w-486 {
  .card-list {
    &__wrapper{
      padding: 20px 10px;
    }
    &__pagination{
      font-size: 18px;
    }
  }
}