@import 'root';

.form {
  display: flex;
  flex-direction: column;
  &>*:not(:last-child){
    margin-bottom: 30px;
  }
  &-title.title {
    color: $color-blue;
    text-align: center;
    font-size: 26px;
    line-height: calc(30/26*100%);
  }

  &-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 40px);
    grid-gap: 30px 15px;
    label:nth-child(3){
      grid-column: 1/-1;
    }
  }

  &-input {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: unset;
    font-family: "Roboto";
    font-size: 14px;
    line-height: calc(16/14*100%);
    box-shadow: $box-shadow-bg;
    color: $color-blue;
    padding: 0 15px;
    transition: all .3s ease;
    &[type=date]{
      position: relative;
      &::-webkit-clear-button, &::-webkit-inner-spin-button{
        display: none;
      }
      &::-webkit-calendar-picker-indicator{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: transparent;
        background: transparent;
        height: 100%;
        cursor: pointer;
        z-index: 2;
      }
      &::before{
        position: absolute;
        content: attr(data-placeholder);
        padding: 2px 0;
        color: rgba(12, 64, 116, 0.6);
        background-color: #fff;
      }
      &:valid::before{
        display: none;
      }
      &.fa-calendar-days::after{
        content: "\f073";
        font-family: 'Font Awesome 6 Free';
        font-size: 16px;
      }
    }
    &:hover{
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    }
    &::placeholder {
      color: $color-blue;
      opacity: .6;
    }

    &:focus {
      outline: 2px solid $color-blue;
    }
  }

  &-block {
    display: flex;
    gap: 15px;
    &>div{
      max-width: 50%;
    }
  }

  &-list {
    padding-left: 16px;
    ul {
      padding-left: 16px;
      max-width: 185px;
      list-style-type: disc;
    }
  }
  h4.form-text{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  &-text {
    font-size: 12px;
    line-height: calc(14/12*100%);
  }

  &-pic {
    display: flex;
    align-items: flex-end;
  }

  &-img.img {
    width: 82px;
    height: 100px;
    margin-right: 10px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
  }
  &-file{
    width: 108px;
    p#file_name{
      margin-bottom: 6px;
      font-size: 12px;
      line-height: calc(14/12*100%);
    }
  }
  label.form-button {
    display: flex;
    padding: 5px 19px;
    gap: 5px;
    align-items: center;
    border-radius: 6px;
    box-shadow: $box-shadow-bg;
    cursor: pointer;
    input[type=file]{
      display: none;
    }
    p{
      font-size: 12px;
      line-height: calc(14/12*100%);
    }
    i{
      width: 16px;
      height: 16px;
    }
  }

}
.card-new__wrapper, .card-red__wrapper {
  padding: 30px 42px;
  max-width: 500px;
  margin: 0 auto;
}
.card-red{
  &__form-imgs{
    display: flex;
    align-items: center;
    gap: 10px;
    i{
      font-size: 18px;
      transform: translateY(-25px);
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    p{
      text-align: center;
      margin: 10px 0;
      font-size: 12px;
      line-height: calc(14/12*100%);
    }
  }
  &__form-img.img{
    margin-right: 0;
  }
  &__form-pic{
    flex-direction: column;
  }
  &__form-file{
    width: 100%;
  }
  &__form-button{
    justify-content: center;
  }
}