@import 'root';

.notify {

    &__wrapper {
        max-width: 980px;
        padding: 30px;
        margin: 0 auto;

        &>span {
            text-align: right;
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    &__row {
        border: 2px solid $color-blue;
        border-radius: 10px;
        padding: 0 36px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 20px;

        i {
            font-size: 32px;
        }
    }

    &__info {
        text-align: left;

        .notify__title {
            color: $color-blue;
            font-size: 24px;
            font-weight: 500;
            line-height: calc(28/24*100%);
            margin-bottom: 2px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: calc(19/16*100%);
    }

    &__link {
        font-size: 20px;
        line-height: calc(23/20*100%);
        padding: 2px 5px;
        border-radius: 10px;
        transition: all .3s ease;

        &:hover {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}