@import 'root';

.settings {

    &__wrapper {
        padding: 30px 40px;
        max-width: 750px;
        @include absolute-middle;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: calc(23/20*100%);
        flex: 1 0 200px;
    }

    &__button.button {
        width: 200px;
    }
}

.popup {

    &__wrapper {
        padding: 30px 20px;
        background-color: $color-white;
        max-width: 379px;
        @include absolute-middle;
        border-radius: 10px;
    }

    &__close {
        position: absolute;
        font-size: 32px;
        right: 20px;
        top: 30px;
        cursor: pointer;
    }

    &__title.title {
        color: $color-blue;
        margin-bottom: 35px;
    }

    &__text {
        text-align: justify;
        font-size: 16px;
        line-height: calc(19/16*100%);
        margin-bottom: 15px;
    }
    &__img.img{
        width: 150px;
        margin: 0 auto 20px;
    }
    & &__form-label {
        margin-bottom: 15px;
        border-radius: 6px;

        p {
            margin-bottom: 15px;
            margin-left: 15px;
        }
    }

    &__form-input.form-input {
        height: 40px;
        transition: box-shadow 0.3s ease;
        box-shadow: $box-shadow-input;

        &:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
        }
    }

    label.popup__form-button {
        padding: 10px;
        justify-content: center;
        font-size: 16px;

        p,
        i {
            font-size: unset;
        }

        &:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
        }

        input[type=file] {
            display: none;
        }
    }
}

@media (max-height: 575px) {
    .settings {
        &__wrapper {
            position: unset;
            transform: unset;
        }
    }
}

@include max-w-486 {
    .settings {
        &__wrapper {
            padding: 20px;
        }
        &__button.button {
            font-size: 14px;
        }
        &__row {
            gap: 5px;
        }

        &__text {
            flex-shrink: 1;
            font-size: 14px;
        }
    }
}