@import 'root';
.settings {

    &__container {
    }
    &__wrapper {
        padding: 30px 40px;
        max-width: 750px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: calc(23/20*100%);
        flex: 1 0 200px;
    }

    &__button.button {
        width: 200px;
    }
}

.popup {

    &__wrapper {
        padding: 30px 20px;
        background-color: $color-white;
        max-width: 379px;
        border-radius: 10px;
    }

    &__close {
    }

    &__body {
    }

    &__title.title {
        color: $color-blue;
        margin-bottom: 35px;
    }

    &__text {
        text-align: justify;
        font-size: 16px;
        line-height: calc(19/16*100%);
        margin-bottom: 15px;
    }

    &__form-label{
        margin-bottom: 15px;
        border-radius: 6px;
        p{
            margin-bottom: 15px;
            margin-left: 15px;
        }
    }
    

    &__form-input.form-input {
        height: 40px;
        transition: box-shadow 0.3s ease;
        box-shadow: $box-shadow-input;
        &:hover{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
        }
    }
    label.popup__form-button {
        display: flex;
        padding: 10px;
        position: relative;
        gap: 5px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 16px;
        box-shadow: $box-shadow-input;
        cursor: pointer;
        transition: box-shadow .3s ease;
        p,i{
            font-size: unset;
        }
        &:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
        }
        
        input[type=file] {
            display: none;
        }
    }

    &__form-button {
    }
}
