@import 'reset';
@import 'root';
@import 'popup';
@import url(font.css);
@import url(header.css);
@import url(card-list.css);
@import url(card-form.css);
@import url(card-info.css);
@import url(notify.css);
@import url(settings.css);
@import url(search.css);

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: $color-lightblue;
  color: $color-blue;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: calc(18/15*100%);

  &.lock {
    overflow: hidden;
  }
}

main {
  flex: 1 1 auto;
  padding: 35px 0px;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 10px;
}

.title {
  font-size: 32px;
  line-height: calc(38/32*100%);
  font-weight: 700;
  color: #000;
  margin-bottom: 50px;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
}

.img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.overflow-x {
  overflow: auto hidden;
}

.wrapper_bg {
  border-radius: 10px;
  box-shadow: $box-shadow-bg;
  background-color: $color-white;
}

.button {
  padding: 7px 15px;
  background: $color-blue;
  color: $color-white;
  border-radius: 6px;
  border: 3px solid $color-blue;
  font-weight: bold;
  font-size: 18px;
  line-height: calc(21/18*100%);
  transition: all .3s ease;
  font-family: inherit;

  &:hover {
    background: transparent;
    color: $color-blue;
  }
}

.main {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 500px;

    h1 {
      font-size: 54px;
      font-weight: bold;
    }

    h1.main__title {
      font-family: 'Urbanist';
    }

    p {
      line-height: 120%;
      font-size: 24px;
    }
  }

  &__form {
    max-width: 425px;

    .form {
      &>.form-label {
        margin-bottom: 30px;
      }

      .form-input {
        outline: 1px solid #ced4da;

        &._error {
          outline: 1px solid $color-red;

          &~.input__error {
            bottom: -40%;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }

      .form-label,
      .form-label._error {
        box-shadow: unset;
      }

      button {
        margin: 0;
      }

      
    }
    &-message {
      font-size: 13px;
      text-align: center;
      margin: 0;
      .main__form-login &._error, .main__form-2fa &._error{
        margin-top: 20px;
      }
    }
  }
}

@include max-w-992() {
  .main {
    &__row {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    &__text {
      text-align: center;
    }
  }
}

@include max-w-768() {
  main {
    padding: 25px 0;
  }

  .title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .main {
    &__form {
      width: 100%;
    }

    &__text {
      h1 {
        font-size: 46px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}

@include max-w-486() {
  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .button {
    font-size: 16px;
    padding: 4px 7px;
  }

  .main {
    &__text {
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 18px;
      }
    }
  }
}