.form {
  display: flex;
  flex-direction: column;
}
.form > *:not(:last-child) {
  margin-bottom: 30px;
}
.form-title.title {
  color: #0C4074;
  text-align: center;
  font-size: 26px;
  line-height: 115.3846153846%;
}
.form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 40px);
  grid-gap: 30px 15px;
}
.form-inputs label:nth-child(3) {
  grid-column: 1/-1;
}
.form-input {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: unset;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 114.2857142857%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  color: #0C4074;
  padding: 0 15px;
  transition: all 0.3s ease;
}
.form-input[type=date] {
  position: relative;
}
.form-input[type=date]::-webkit-clear-button, .form-input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.form-input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: transparent;
  background: transparent;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.form-input[type=date]::before {
  position: absolute;
  content: attr(data-placeholder);
  padding: 2px 0;
  color: rgba(12, 64, 116, 0.6);
  background-color: #fff;
}
.form-input[type=date]:valid::before {
  display: none;
}
.form-input[type=date].fa-calendar-days::after {
  content: "\f073";
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
}
.form-input:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}
.form-input::-webkit-input-placeholder {
  color: #0C4074;
  opacity: 0.6;
}
.form-input::-moz-placeholder {
  color: #0C4074;
  opacity: 0.6;
}
.form-input:-ms-input-placeholder {
  color: #0C4074;
  opacity: 0.6;
}
.form-input::placeholder {
  color: #0C4074;
  opacity: 0.6;
}
.form-input:focus {
  outline: 2px solid #0C4074;
}
.form-block {
  display: flex;
  gap: 15px;
}
.form-block > div {
  max-width: 50%;
}
.form-list {
  padding-left: 16px;
}
.form-list ul {
  padding-left: 16px;
  max-width: 185px;
  list-style-type: disc;
}
.form h4.form-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}
.form-text {
  font-size: 12px;
  line-height: 116.6666666667%;
}
.form-pic {
  display: flex;
  align-items: flex-end;
}
.form-img.img {
  width: 82px;
  height: 100px;
  margin-right: 10px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
}
.form-file {
  width: 108px;
}
.form-file p#file_name {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 116.6666666667%;
}
.form label.form-button {
  display: flex;
  padding: 5px 19px;
  gap: 5px;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.form label.form-button input[type=file] {
  display: none;
}
.form label.form-button p {
  font-size: 12px;
  line-height: 116.6666666667%;
}
.form label.form-button i {
  width: 16px;
  height: 16px;
}

.card-new__wrapper, .card-red__wrapper {
  padding: 30px 42px;
  max-width: 500px;
  margin: 0 auto;
}

.card-red__form-imgs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-red__form-imgs i {
  font-size: 18px;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}
.card-red__form-imgs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.card-red__form-imgs p {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  line-height: 116.6666666667%;
}
.card-red__form-img.img {
  margin-right: 0;
}
.card-red__form-pic {
  flex-direction: column;
}
.card-red__form-file {
  width: 100%;
}
.card-red__form-button {
  justify-content: center;
}/*# sourceMappingURL=card-form.css.map */